<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>

    <ul style="list-style: none">
        <li style="display: inline-block; padding: 10px 20px;">
            <a href="/">Accueil</a>
        </li>
        <li style="display: inline-block; padding: 10px 20px;">
            <a href="/articles/">Articles</a>
        </li>
        <li style="display: inline-block; padding: 10px 20px;">
            <a href="/contact/">Contact</a>
        </li>
    </ul>

    <h1>Bienvenue</h1>
</body>
</html>