.container {
    border: 1px solid black;
}

.container-fluid {
    border: 1px solid red;
}

.col-8, .col-4 {
    border: 2px dashed green;
}


.logo {
    width: 60px;
    height: 60px;
    background-color: #00ADE6;
    color: white;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.logo .nombre {
    font-size: 22px;
    position: absolute;
    top: 12px;
}